.introductoryImage {
    padding: 1rem;
    float: right;
    width: 50%;
}

.mobileIntroductoryImage {
    visibility: hidden;
    width: 0%;
}

.introductionLinkDiv {
    text-align: center;
    width: 100%;
}

.introductionLink {
    appearance: button;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #3FA9F5;
    color: #FFFFFF;
    border-radius: 0.2rem;
    padding: 2rem;
    font-size: 1.7rem;
    border: 0;
    display: inline-block;
    margin: 1rem 0 0 0;
}

@media (max-width: 849px) {

    .introductoryImage {
        visibility: hidden;
        width: 0%;
    }

    .mobileIntroductoryImage {
        visibility: visible;
        width: 100%;
    }
}
