/* Montserrat Font Family 

Add back later.

Sidd: I don't know how to get VuePress to load these files. Dropping them in public folder doesn't work

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ThinItalic.ttf') format('ttf');
    font-weight: 100;
    font-style: Italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLightItalic.ttf') format('ttf');
    font-weight: 200;
    font-style: Italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-LightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: Italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: Italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-MediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: Italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBoldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: Italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: Italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBoldItalic.ttf') format('ttf');
    font-weight: 800;
    font-style: Italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-BlackItalic.ttf') format('ttf');
    font-weight: 900;
    font-style: Italic;
}

*/

/* Rubik Font Family

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-LightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: Italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: Italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-MediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: Italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: Italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Rubik-BlackItalic.ttf') format('ttf');
    font-weight: 900;
    font-style: Italic;
}

*/

/* Komodo theme section */

.hero > img, .home, img, target {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

$borderColor = rgba(30,92,110,1);

$textColor = #FFFFFF;

$accentColor = #00EDD3;

$codeBgColor = rgba(8,14,21,1);

div .navbar, .navbar .links, .search-box, .nav-links, .nav-links .can-hide {
    background-color: #026782;
}

div .sidebar {
    background-color: #051019; 
}

div .page {
    background-image: linear-gradient(135deg, #003A4B, #0B141B);
    min-height: 100vh;
    background-attachment: fixed;
}

/* End Komodo theme section */

@media (max-width: 419px){ 

	//nav bar, default is 3.6rem
	.navbar {
		height: 5.0rem;
	}

	//side bar top heading loses spacing, default is 0.5rem on first co-ordinate
	.sidebar .nav-links .nav-item {
		padding: 1.5rem 0 0.5rem 1.5rem;
	}

	// top heading of main page loses spacing, default is -1.5rem
	.content:not(.custom) > h1:first-child, .content:not(.custom) > h2:first-child, .content:not(.custom) > h3:first-child, .content:not(.custom) > h4:first-child, .content:not(.custom) > h5:first-child, .content:not(.custom) > h6:first-child {
		margin-top: -0.5rem;
	}
}
