.hero > img, .home, img, target {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

div .navbar, .navbar .links, .search-box, .nav-links, .nav-links .can-hide {
    background-color: rgba(2,104,129,1);
}

div .sidebar {
    background-color: rgba(6,16,25,1);
}

div .page {
    background-image: linear-gradient(135deg, rgba(3,56,70,1),rgba(6,16,25,1));
    min-height: 100vh;
    background-attachment: fixed;
}

/* End Komodo theme section */

@media (max-width: 419px){ 

	//nav bar, default is 3.6rem
	.navbar {
		height: 5.0rem;
	}

	//side bar top heading loses spacing, default is 0.5rem on first co-ordinate
	.sidebar .nav-links .nav-item {
		padding: 1.5rem 0 0.5rem 1.5rem;
	}

	// top heading of main page loses spacing, default is -1.5rem
	.content:not(.custom) > h1:first-child, .content:not(.custom) > h2:first-child, .content:not(.custom) > h3:first-child, .content:not(.custom) > h4:first-child, .content:not(.custom) > h5:first-child, .content:not(.custom) > h6:first-child {
		margin-top: -0.5rem;
	}
}
