name: Build and Deploy doc sites
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: "0"
          persist-credentials: false

      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: ${{ github.repository_owner }}/AtomicDEX-docs
          path: AtomicDEX-docs
          persist-credentials: false

      - name: Add Algolia Secret
        env:
          ALGOLIAKEY: ${{secrets.ALGOLIA_SECRET}}
        run: ./algolia-key.sh

      - name: Build and Deploy to gh_pages
        uses: KomodoPlatform/vuepress-deploy@master
        env:
          ACCESS_TOKEN: ${{ secrets.GH_TOKEN }}
          ALGOLIAKEY: ${{secrets.ALGOLIA_SECRET}}
          TARGET_REPO: ${{ github.repository }}
          TARGET_BRANCH: gh-pages
          CNAME: "developers.komodoplatform.com"
          BUILD_SCRIPT: yarn && yarn docs:build
          BUILD_DIR: docs/.vuepress/dist/

      - name: Prepare AtomicDEX docs
        env:
          ALGOLIA_SECRET: ${{secrets.ALGOLIA_SECRET}}
        run: ./prepare-atomicDEX-docs.sh

      - name: Deploy updated files to AtomicDEX-docs repo
        uses: KomodoPlatform/github-pages-deploy-action@4ef50ca87fb0d1007fab1bfce9019fb5749daf26
        with:
          ACCESS_TOKEN: ${{ secrets.GH_TOKEN }}
          REPOSITORY_NAME: ${{ github.repository_owner }}/AtomicDEX-docs
          BRANCH: master
          FOLDER: AtomicDEX-docs
